<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
</head>
<body>
    <h1>{{ articles.0.author }}</h1>
    {% for article in articles %}
        <h2>{{ article.title }}</h2>
        {% if author_id == article.author.id %}
            <a href="{% url 'redact_article' article.slug %}">Редактировать</a>
        {% endif %}
        <p>{{ article.content }}</p>
    {% endfor %}
</body>
</html>